<h1><span data-i18n="skills.my_skills">About</span></h1>

<div>
    Hi, I'm Manoj Chapagain, Code for fun and living. Originally from Pokhara, currently in Kathmandu.
    I prefer working with Javascript and Python and I <i class="fa fa-heart heart-icon" style="font-size: 12px;"></i> foss. <br></br>
    Social and cultural goal blending with the power of technology to create a positive return to society is what I aim to attain.
    <ul>
      <li> i play chess regularly, it's my hobby</li>
      <li> i am fond of basket basketball #gsw</li>
      <li> and i love to watch football; i am big fan of chelsea #ktbffh</li>
    </ul>
</div>
